@using ViewModel.AdminViewModels.BlogPostViewModels
@model IEnumerable<IndexBlogViewModel>

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.Error == true)
{
    <div class="success divError">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.ErrorMessage</strong><br />
    </div>
}

<div class="success divMsg">
    <span class="closebtn">&times;</span>
    <strong id="message"></strong><br />
</div>

<article class="article">
    <div class="main-bg-2 main-content">
        <!--Header-->
        <div class="mainHeader-2">
            <div class="container">
                <div class="row">
                    <div class="container-half">
                        <h1 class="primary-blue">My Blog</h1>
                    </div>
                    <div class="container-half">
                        <div class="right">
                            <div class="blog-header">
                                <input type="search" placeholder="Search Blog">
                                <a href="@Url.Action("AddBlog","BlogPost")" class="blog-btn">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Table-->
        <div id="blogTable">
            @Html.Partial("_partialBlogList", Model)
        </div>
    </div>
</article>

@section scripts{
    <script type="text/javascript">
    $(function () {
        $(".closebtn").click(function () {
            $(".divError").fadeOut(1000);
            $('.divMsg').fadeOut(1000);
        });
    });

    var DeleteId = null;

    function showdd(id) {

        if ($('#' + id).css('display') == 'none')
        {
            $('#' + id).css('display', 'block');
        }
        else {
            $('#' + id).css('display', 'none');
        }
    }
    function handleDelete(id) {
        $('.overlay').css('display', 'block');
        $('.delete---modal').css('display', 'block');
        DeleteId = id;
     }
        $('.delete---yes').click(function () {
            var data={ Id: DeleteId }
            $.ajax({
               type: "POST",
               url: '@Url.Action("Delete", "BlogPost",new { Area = "Admin" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "html",
                success: function (response) {
                    $("#blogTable").empty();
                    $("#blogTable").html(response);
                    $('.overlay').css('display', 'none');
                    $('.delete---modal').css('display', 'none');
                    $('#message').text('Deleted Successfully');
                    $('.divMsg').fadeIn(1000);
                    return;
               },
               error: function () {
                   alert("Error");
               }
            });
        });

        function publish(id) {
            var data={ Id: id }
            $.ajax({
               type: "POST",
               url: '@Url.Action("Publish", "BlogPost",new { Area = "Admin" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "html",
                success: function (response) {
                    $("#blogTable").empty();
                    $("#blogTable").html(response);
                    $('#message').text('Status Updated');
                    $('.divMsg').fadeIn(1000);
                    return;
               },
               error: function () {
                   alert("Error");
               }
            });
        }

        $('.delete---no').click(function () {
            $('.overlay').css('display', 'none');
            $('.delete---modal').css('display', 'none');
        });
    </script>
}