@using ViewModel.AuthorViewModels
@model IEnumerable<AuthorViewModel>

@{
    ViewBag.Title = "Index";
}
<style>
    .editImage {
        width: 25px;
        padding: 0px 0px 0px 5px;
    }

    .deleteImage {
        width: 22px;
        padding: 0px 5px 0px 0px;
    }
</style>
<main class="main">
    <article class="article">
        <div class="main-bg-2 main-content">
            <!--Header-->
            <div class="mainHeader-2">
                <div class="container">
                    <div class="row">
                        <div class="container-half">
                            <h1 class="primary-blue">Author list</h1>
                        </div>
                        <div class="container-half">
                            <div class="right contenthead-pd">
                                <div class="blog-header">
                                    <input type="search" placeholder="Search User">
                                    <a href="@Url.Action("AddAuthor", "Author")" class="blog-btn">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Table-->
            <div class="blog-table">
                <div class="container">
                    <di class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Active</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Description</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in Model)
                                {
                                    <tr>
                                        <td>@d.Active</td>
                                        <td>
                                            <div class="row status">
                                                <img src="~/Content/Images/Others/Admin/Avatar-1 1.png" alt="" />
                                                <p class="AutherName">@d.Name</p>
                                                <label class="active-status"></label>
                                            </div>
                                        </td>
                                        <td>@d.Email</td>
                                        <td>@d.Description</td>
                                        <td>@d.Contact</td>
                                        <td>
                                            <a href="@Url.Action("EditAuthor", "Author", new { id = d.Id})">
                                                <img src="~/Content/Images/Others/Admin/pencil.png" class="editImage" alt="Edit Author" />
                                            </a>

                                            <a href="@Url.Action("DeleteAuthor", "Author", new { id = d.Id})">
                                                <img src="~/Content/Images/Others/Admin/erase.png" class="deleteImage" alt="Delete Author" />
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </article>
</main>
<script src="~/Areas/Admin/Content/js/jquery-3.4.1.min.js"></script>
<script>
    jQuery(document).ready(function () {

    });
    @*function Delete(id) {
        var authername = jQuery('.AutherName').val();
        alert(authername);
        var con = confirm('Are you sure you want to delete this Author.');
        if (con == true) {
            var authorId = id;
            jQuery.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAuthor","Author")',
                data: '{id:' + JSON.stringify(authorId) + '}',
                dataType: "html",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    len = response.length;
                    console.log(len);
                    if (len == 0) {
                        jQuery("#divAuthor").empty();
                        jQuery("#divAuthor").html('No data found');
                    }
                    else {
                        for (var i = 0; i < len; i++) {
                            if (i == 0)
                                jQuery("#divAuthor").html();
                            else
                                jQuery("#divAuthor").append();
                        }
                        $("#subject").multiselect('rebuild');
                    }

                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText + ': ' + error;
                    alert('Error - ' + errorMessage);
                }
            });
        }
        else {
            alert('Delete Operation not executed.');
        }
        return false;
    }*@
</script>