<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Todays Trending</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style2.css" rel="stylesheet" />
    @*<link href="~/Content/css/style.css" rel="stylesheet" />*@
    <link href="~/Content/css/slick.css" rel="stylesheet" />
    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @RenderSection("scriptsTop", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="header">
                <div class="header---box">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="">
                                    <p><span class="primary-color">Today’s</span> Trending</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="float-right row">

                                <div class="search---box">
                                    <div class="search---bar">
                                        <div class="row">
                                            <img src="~/Content/Images/Others/search-icon.png" class="search-icon" alt="" />
                                            <input type="search" class="header-search---bar" placeholder="Search Something">
                                        </div>
                                    </div>
                                </div>

                                <div class="notification---box">
                                    <img src="~/Content/Images/Others/notification-icon.png" />
                                    <div class="dropdown---box">
                                        <div class="notification---dropdown">
                                            <div class="normal---area">
                                                <div class="notification-card---box">
                                                    <a href="">
                                                        <div class="notification---card">
                                                            <div class="row align-item-center">
                                                                <div class="col-lg-2">
                                                                    <img src="~/Content/Images/Others/avatar-icon.png" />
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <p>Welcome to Today's Trending! Start by introducing yourself in welcome thread <span class="float-right">12:48pm</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="normal---area">
                                                <hr>
                                                <div class="notification-card---box">
                                                    <a href="">
                                                        <div class="notification---card">
                                                            <div class="row align-item-center">
                                                                <div class="col-lg-2">
                                                                    <img src="~/Content/Images/Others/avatar-icon.png" />
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    <p>Someone reply to your comment<span class="float-right">12:48pm</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="user---box">
                                    <img src="~/Content/Images/Others/user-icon.png" />
                                    <div class="dropdown---box">
                                        <div class="user---dropdown">
                                            <div class="user----area">
                                                <h6>Faseeh Yasin</h6>
                                                <span><a href="">faseeh12</a></span>
                                                <p>become a member</p>
                                            </div>
                                            <div class="normal---area">
                                                <hr>
                                                <ul>
                                                    <li><a href="">New story</a></li>
                                                    <li><a href="">Series</a></li>
                                                    <li><a href="">Stories</a></li>
                                                </ul>
                                            </div>
                                            <div class="normal---area">
                                                <hr>
                                                <ul>
                                                    <li><a href="">Partner program</a></li>
                                                </ul>
                                            </div>
                                            <div class="normal---area">
                                                <hr>
                                                <ul>
                                                    <li><a href="">Profile</a></li>
                                                    <li><a href="">Settings</a></li>
                                                    <li><a href="">Help</a></li>
                                                    <li><a href="">Sign out</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_headerMenuPartial")
            @RenderBody()
        </div>
    </div>


    <!--Scripts Section-->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Blog/popper.js"></script>
    <script src="~/Scripts/Blog/bootstrap.min.js"></script>
    <script src="~/Scripts/Blog/slick.js"></script>
    <script src="~/Scripts/Blog/script.js"></script>
    @RenderSection("scripts", required: false)
    <!--End Scripts Section-->

</body>
</html>


@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@
