<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Todays Trending</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e74ee50f7e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--OVerlay-->
    <div class="overlay"></div>
    <!--Main Box-->
    <div class="delete---modal">
        <div class="delete---box">
            <div class="delete---header">
                <h2>Delete this record ?</h2>
            </div>
            <div class="delete---content">
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="delete---footer">
                <a href="#" class="delete---yes">Yes</a>
                <a href="#" class="delete---no">No</a>
            </div>
        </div>
    </div>
    <header class="header">
        <div class="header-left">
            <div class="menu">
                <img src="~/Content/Images/Others/Admin/Menubar-icon.png" />
            </div>
            <div class="search">
                <img src="~/Content/Images/Others/Admin/search-icon.png" alt="">
                <div class="search-box">
                    <Input type="search" placeholder="Search" />
                    <div class="hiddenbar-bg">
                        <div class="hidden-bar">
                            <div class="hidden-select">
                                <select name="" id="">
                                    <option value="">Category</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                            <div class="hidden-select">
                                <select name="" id="">
                                    <option value="">Date</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-right">
            @Html.Partial("_LoginPartialAdmin")
        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <aside class="aside">
        <div class="logo">
            <a href="Dashboard.html">
                <img src="~/Content/Images/Others/Admin/logo-icon.png" alt="">
            </a>
        </div>
        <div class="aside-menu">
            <ul>
                @if (User.IsInRole("Admin"))
                {
                    <li class="active"><a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><img src="~/Content/Images/Others/Admin/dashboard-icon.png" alt=""></a></li>
                    <li><a href="@Url.Action("Index", "BlogPost", new { Area = "Admin" })"><img src="~/Content/Images/Others/Admin/writeapost-icon.png" alt=""></a></li>
                    <li><a href="@Url.Action("Index", "Author", new { Area = "Admin" })"><img src="~/Content/Images/Others/Admin/admin.png" alt=""></a></li>
                    <li><a href="@Url.Action("Index", "User", new { Area = "Admin" })"><img src="~/Content/Images/Others/Admin/adminrole.png" alt=""></a></li>
                    <li><a href="Categorylist.html"><img src="~/Content/Images/Others/Admin/categorylist.png" alt=""></a></li>
                }
                @if (User.IsInRole("Author"))
                {
                    <li class="active"><a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><img src="~/Content/Images/Others/Admin/images/dashboard-icon.png" alt=""></a></li>
                    <li><a href="@Url.Action("Index", "BlogPost", new { Area = "Admin" })"><img src="~/Content/Images/Others/Admin/writeapost-icon.png" alt=""></a></li>
                }
            </ul>
        </div>
    </aside>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Admin/script.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>